.footer{
  padding: 50px 0;
  background: $bodyBackground url("#{$imgUrl}general/footer-bg.png")repeat center /cover;
  text-align: center;

  @include respond(570){
    background-position: initial;
  }
}

.footer__logo{
  display: block;
  max-width: 350px;
  margin-bottom: 50px;
  @include center();
  img {
    width: 100%;
  }

  @include respond(1350){
    max-width: 350px;
  }
  @include respond(1024){
    max-width: 270px;
    margin-bottom: 30px;
  }
  @include respond(570){
    max-width: 220px;
  }
}

.footer-social{
  margin-bottom: 50px;

  @include respond(1024){
    margin-bottom: 30px;
  }
}

.footer-social__link{
  display: inline-block;
  margin: 0 20px;
  @include transition-03();
  .icon{
    fill: $textColor;
    @include square(23px);
  }

  &:hover,&:focus, &:active{
    .icon{
      fill: $pinkColor;
    }
  }
}

.footer-contact{
  text-align: center;
  margin-bottom: 40px;

  @include respond(1024){
    margin-bottom: 30px;
  }
}

.footer-contact__item{
  display: inline-block;
  margin: 0 20px;
  font-weight: 500;
  @include font-size(24);
  font-family: $baseEngFontFamily;
  color: $textColor;
  @include transition-03();

  &:hover, &:focus, &:active{
    color: $pinkColor;
    .footer-contact__icon{
      .icon{
        fill: $pinkColor;
      }
    }
  }

  @include respond(1024){
    @include font-size(20);
  }
}

.footer-contact__icon{
  .icon{
    margin-right: 5px;
    vertical-align: middle;
    @include square(20px);
    @include transition-03();
  }
}

.footer-contact__address{
  margin: 15px 0 0;
  font-weight: 500;
  @include font-size(20);

  @include respond(1024){
    @include font-size(16);
  }
}

.footer-privacy{
  @include font-size(18);
  a{
    font-weight: 600;
    color: $textColor;
    display: block;
    margin-bottom: 10px;
    @include transition-03();

    &:hover, &:focus, &:active{
      color: $pinkColor;
    }
  }
  p{
    font-weight: 400;
  }
}

